<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markdown Editor</title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="../node_modules/codemirror/theme/the-matrix.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
</head>
<body>

<div class="container-fluid main" id="editor">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control editor" id="markdown_editor" v-model="markdown_text"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-6 column">
            <form role="form">
                <div class="form-group">
                    <div id="markdown_preview" class="preview" v-html="preview_text"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../node_modules/vue/dist/vue.min.js"></script>
<script src="../node_modules/showdown/dist/showdown.min.js"></script>
<script src="../node_modules/codemirror/lib/codemirror.js"></script>
<script src="../node_modules/codemirror/mode/markdown/markdown.js"></script>

<script src="../js/index.js"></script>
</body>
</html>